<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <title>Your account was created </title></head>
<body>

<form action="/2_home">
<div class="alert alert-success"><h1>Hi,{{ value }} Your Account was Created</h1> <input class="btn btn-info" style="width:" type="submit" value="    Countinue    "></div>

</form>
</body>


</html>