<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>



<body style="background-color:#EEE" >
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">GAME-DOG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/login/myprofile/{{ value }}">My profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home">My articles</a>
      </li>
           <li class="nav-item">
        <a class="nav-link" href="/signup">Explore</a>
      </li>
    </ul>

  </div>
</nav>

<div class="container-fluid" >
<div class="row">
<div class="col-md-3" >
</div>
<div class="col-md-6" style="box-shadow:10px 10px lightgrey;">
<div >
<h1> Grand Theft Auto:V </h1>
<br>
<img  src="{{ url_for('static',filename='rec_images/download.jpg') }}" height=150px; width=150px; style="clear:both; border:solid white 5px;" align=left ><h5 class="h5" > Console: PC,PS4,PS3,X-box 360,X-box one </br><small class="text-muted">Released on 2013</small></h5>
<br>
</div>
<div>
<h1 style="clear:both;"></h1>
</br>
</br>
</div>
<div class="clear"  >
</br>
<h1 style="clear:both;"> Grand Theft Auto:V </h1>
</br>
<img height=150px; width=150px; style="border:solid white 5px;"  align=left src="static/rec_images/download.jpg"><h5 class="h5" > Console: PC,PS4,PS3,X-box 360,X-box one </br><small class="text-muted">Released on 2013</small></h5>
</div>
<div class="clear" >
</br>
<h1 style="clear:both;"> Grand Theft Auto:V </h1>
</br>
<img height=150px; width=150px; style="border:solid white 5px;"  align=left src="static/rec_images/download.jpg"><h5 class="h5" > Console: PC,PS4,PS3,X-box 360,X-box one </br><small class="text-muted">Released on 2013</small></h5>
</div>
</div>
<div class="col-md-3">
</div>
</div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


</body>

</html>